body {
    background-color: rgb(32, 28, 28);
    color: white;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
li {
    display: inline;
    margin: 10px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.sectionImage {
    width: 300px;
    height: 200px;
    box-shadow: 1px 1px 1px 2px cyan;
    border: outset 10px transparent;
    margin: 10px;
    border-radius: 20px;
}
img:hover {
    box-shadow: 2px 2px 25px 2px white;
}
a:hover {
    text-decoration: underline;
}